/******************************************
************** GENERAL  *************
**************************************** */
@font-face {
    font-family: customFont;
    /*src: url(./font/AvenirNextLTPro-Cn.otf);*/
    font-weight: lighter;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

html *:not(pre) {
    font-family:customFont,Arial,Helvetica;
}

html{
    overflow-x: hidden;
    padding:10px 20px 10px 10px;
}

body, html{
    padding:0px
}

div *{
    font-size:14px;
}


h1{
    /*background-color:rgb(11,121,75);*/
    background-color:#2980B9;
    color:#fcfcfc !important;
    margin-bottom:0px;
    font-size:30px;
    margin-top:10px !important;
}

h2{
    font-size:24px;
}

h2, h3, pre{
    margin:0px;
    color:rgb(11,121,75);
}


/* LAYOUT */

div.sidebar{
    background:#343131;
    height:100vh;
    position: fixed;
    padding:0px;
}

div.main_container, div.debug, h1, div.metadata, div.data{
    border:1px solid #ccc;
    padding:10px;
    box-shadow:4px 4px 3px #D6D6D6;
    margin-bottom: 15px;
}

div.main_container{
    background-color: #ECF0F1;
    padding:0px 20px 10px 20px;
}

div.metadata, div.data{
    margin-top:15px;
}

div.schema{
    margin:10px 10px 0px 10px;
}

div.welcome{
    background: #2980B9;
    width:100%;
    color:#fcfcfc;
}

div.welcome h2{
    text-align:center;
    padding:10px;
    font-size:18px;
}

div.welcome hr{
    background:#fcfcfc;
}

/* TABLE */
table{
    width:100%;
    border-collapse: collapse;
    margin-top:10px;
    table-layout: fixed;
}

tr{
    border-bottom:1px solid #ccc;
}

th {
    padding-left:10px;
    color:#2980B9;
}

td {
    border-bottom:1px solid #ccc;
    padding-left: 10px;
}

tr:not(.first_line):hover{
    background-color: #2980B9;
    color:#fcfcfc;
}

tr:not(.first_line):hover a{
    color:#fcfcfc;
}

.firstCol{
    width: 8%;
    border-right:1px solid #ccc;
    padding-right: 10px;
}

.fieldTitle{
    overflow: hidden;
    text-overflow: ellipsis;
}

table  ul{
    margin-top:0px !important;
    margin-bottom:0px !important;
}

/* OTHER */
.required{
    font-weight:bold;
    color:red;
}

.italic{
    font-style: italic;
}

a:visited{
    color:#2980B9;
    text-decoration: underline;
}

.re_position{
    position: relative;
    left: 8%;
}

.sidebar li, .sidebar a, .sidebar a:visited, .sidebar a:hover{
    color:#b3b3b3;
}

.sidebar ul{
    margin-top:20px;
    list-style-type: none;
    padding-left:15px;
}

/* FIELD TYPES */
.string{
    color:rgb(11,121,75);
    font-weight:bold;
}

.number, .integer{
    color:#A9A9A9;
    font-weight:bold;
}

.uri{
    color:#0000FF;
    font-weight:bold;
}

.date{
    color:#003366;
    font-weight:bold;
}

.object{
    color:#8b0000;
    font-weight:bold;
}