<!DOCTYPE html>
<html lang="en" ng-app="generatorApp">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="app.css">
        <link rel="stylesheet" href="lib/bootstrap.css">
        <link rel="stylesheet" href="lib/angular-material.min.css">
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
              integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
              crossorigin="anonymous">


        <script type="text/javascript" src="lib/angular.js"></script>
        <script type="text/javascript" src="lib/angular-material.js"></script>
        <script type="text/javascript" src="lib/angular-aria.min.js"></script>
        <script type="text/javascript" src="lib/angular-animate.min.js"></script>
        <script type="text/javascript" src="lib/angular-messages.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>


        <script src="myapp.js"></script>
        <script type="text/javascript" src="loaderFactory.js"></script>

        <title> JSON schema document generator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body ng-controller="documenterController as documenter" class="json_documenter" md-theme="altTheme">


    <div class="main">

        <div class="container mainPage error" ng-show="documenter.errors.length>0">
            <h2> There is one or more errors with your request </h2>
                <div ng-repeat="item in documenter.errors">
                    <div ng-repeat="(key,val) in item">
                        <label>{{key}}: </label> {{val}}
                    </div>
                </div>
        </div>

        <!-- MENU -->
        <div id="pageTop" class="container menuBar" ng-show="documenter.loaded && documenter.errors.length===0">
            <div class="row">
                <md-toolbar class="md-menu-toolbar">
                    <div layout="row">
                        <md-toolbar-filler layout="" layout-align="center center">
                        </md-toolbar-filler>
                        <div style="display:block;width:100%">

                            <h2 class="md-toolbar-tools">JSON documenter (<i>by FAIRSharing</i>)</h2>

                            <md-menu-bar>
                                <md-menu>
                                    <button aria-label="Open menu"
                                            ng-click="$mdMenu.open($event)">
                                        {{documenter.main_spec.title}}
                                    </button>

                                    <md-menu-content width="4">

                                        <div class="container">
                                            <div class="row">
                                                <md-button ng-href="#{{specName|removeExtraStr}}"
                                                           target="_self"
                                                           ng-repeat="(specName, spec) in documenter.loaded_specs track by $index"
                                                           class="col-5">
                                                    {{spec.title}}
                                                </md-button>
                                            </div>
                                        </div>

                                    </md-menu-content>

                                </md-menu>
                            </md-menu-bar>
                        </div>
                    </div>
                </md-toolbar>
            </div>
        </div>

        <!-- Loader -->
        <div class="container" ng-show="!documenter.loaded && documenter.errors.length===0">
            <div class="row">
                <div class="col-12 loader">
                    <div class="main_container">Loading ... !</div>
                </div>
            </div>
        </div>

        <!-- specs -->
        <div class="container mainPage" ng-show="documenter.loaded && documenter.errors.length===0">



            <div class="row mainPage">
                <!-- main spec -->
                <div class="col-lg-12 col-sm-12 col-md-12 schema"
                     schema-loader="documenter.main_spec"
                     parent-key="''"
                     container-ctrl ="documenter">
                </div>

                <!-- Sub specs -->
                <div ng-repeat="(key, item) in documenter.loaded_specs"
                     schema-loader="documenter.loaded_specs[key]"
                     parent-key="key"
                     class="col-lg-12 col-sm-12 col-md-12 schema"
                     container-ctrl="documenter">
                </div>
            </div>

        </div>



        <a href="#pageTop" target="_self" class="backUp fas fa-arrow-up">
        </a>

    </div>

    </body>

</html>
