<table>

    <tbody>

        <tr class="first_line">
            <th class="firstCol">Field Name</th>
            <th>Field Properties</th>
        </tr>
        <tr ng-repeat="(fieldKey, fieldValue) in fields">

            <!-- field title -->
            <td class="firstCol">
                <div class="fieldTitle">{{fieldKey}}</div>
            </td>

            <td>

                <!-- field description -->
                <div ng-if="fields[fieldKey].hasOwnProperty('description')"> <label>Description:</label> {{fields[fieldKey].description}}</div>

                <!-- field cardinality -->
                <div ng-if="fieldKey!='@context' && fieldKey!='@id' && fieldKey!='@type'">
                    <label>Cardinality:</label>
                    (<span ng-if="required.indexOf(fieldKey) != -1"> 0 </span> <span ng-if="required.indexOf(fieldKey) == -1"> 1 </span>
                    ...
                    <span ng-if="fields[fieldKey].type != 'array'"> 1 </span>
                    <span ng-if="fields[fieldKey].type == 'array'"> n </span>)
                </div>

                <!-- field types for structure field['items']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('items')">

                    <!-- structure field['items']['$ref'] -->
                    <div ng-if="fields[fieldKey]['items'].hasOwnProperty('$ref')">
                        <div><label>Expected type:</label> <span field-type="'object'"> </span> {{type}} </div>
                        <md-button type="button"
                                   class="md-primary md-raised"
                                   ng-href="#{{fields[fieldKey]['items']['$ref']|removeExtraStr}}" target="_self">
                            {{fields[fieldKey]['items']['$ref']|removeExtraStr}}
                        </md-button>
                    </div>

                    <!-- structure field['items']['oneOf'] -->
                    <div ng-if="fields[fieldKey]['items'].hasOwnProperty('oneOf')">

                        <div><label>Expected types</label> (only one type from below):</div>
                        <div>
                            <ul>
                                <li ng-repeat="item in fields[fieldKey]['items']['oneOf']" ng-if="!item.hasOwnProperty('$ref')">
                                    <span field-type="item.type" > </span>
                                </li>
                            </ul>
                            <div class="linkToNextSpec" ng-repeat="item in fields[fieldKey]['items']['oneOf']" ng-if="item.hasOwnProperty('$ref')">
                                <md-button type="button"
                                           class="md-primary md-raised"
                                           ng-href="#{{item['$ref']|removeExtraStr}}" target="_self">
                                    {{item['$ref']|removeExtraStr}}
                                </md-button>
                            </div>
                        </div>
                    </div>

                    <!-- structure field['items']['anyOf'] -->
                    <div ng-if="fields[fieldKey]['items'].hasOwnProperty('anyOf')">

                        <div><label>Expected types</label> (any number of types from below):</div>
                        <div>
                            <ul>
                                <li ng-repeat="item in fields[fieldKey]['items']['anyOf']" ng-if="!item.hasOwnProperty('$ref')">
                                    <span field-type="item.type" > </span>
                                </li>
                            </ul>
                            <div class="linkToNextSpec" ng-repeat="item in fields[fieldKey]['items']['anyOf']" ng-if="item.hasOwnProperty('$ref')">
                                <md-button type="button"
                                           class="md-primary md-raised"
                                           ng-href="#{{item['$ref']|removeExtraStr}}" target="_self">
                                    {{item['$ref']|removeExtraStr}}
                                </md-button>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- field types for structure field['$ref']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('$ref')">
                    <div><label>Expected type:</label> <span field-type="'object'"> </span> {{type}} </div>
                    <md-button type="button"
                               class="md-primary md-raised"
                               ng-href="#{{fields[fieldKey]['$ref'] | removeExtraStr}}" target="_self">
                        {{fields[fieldKey]['$ref'] | removeExtraStr}}
                    </md-button>
                </div>

                <!-- field types for structure field['anyOf']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('anyOf')">
                    <div><label>Expected types</label> (any number of types from below):</div>
                    <div>
                        <ul>
                            <li ng-repeat="item in fields[fieldKey].anyOf" ng-if="!item.hasOwnProperty('$ref')">
                                <span field-type="item.type" > </span>
                            </li>
                        </ul>
                        <div class="linkToNextSpec" ng-repeat="item in fields[fieldKey].anyOf" ng-if="item.hasOwnProperty('$ref')">
                            <md-button type="button"
                                       class="md-primary md-raised"
                                       md-theme="altTheme"
                                       ng-href="#{{item['$ref']|removeExtraStr}}" target="_self">
                                    {{item['$ref']|removeExtraStr}}
                            </md-button>
                        </div>
                    </div>
                </div>

                <!-- field types for structure field['oneOf']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('oneOf')">
                    <div><label>Expected types</label> (only one type from below):</div>
                    <div>
                        <ul>
                            <li ng-repeat="item in fields[fieldKey].oneOf" ng-if="!item.hasOwnProperty('$ref')">
                                <span field-type="item.type" > </span>
                            </li>
                        </ul>
                        <div class="linkToNextSpec" ng-repeat="item in fields[fieldKey].oneOf" ng-if="item.hasOwnProperty('$ref')">
                            <md-button type="button"
                                       class="md-primary md-raised"
                                       ng-href="#{{item['$ref']|removeExtraStr}}" target="_self">
                                {{item['$ref']|removeExtraStr}}
                            </md-button>
                        </div>
                    </div>

                    <!--
                    Expected types: (oneOf)
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].oneOf">
                            <span field-type="item.type"> </span>
                        </li>
                    </ul>
                    -->
                </div>

                <!-- field pre-determined values-->
                <div ng-if="fields[fieldKey].enum">
                    <label>Expected value(s) :</label>
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].enum">
                            {{item}}
                        </li>
                    </ul>
                </div>

                <!-- TO FIX-->
                <div ng-if="fields[fieldKey].format">
                    <label>Expected type :</label>
                    <span field-type="fields[fieldKey].format"> </span>
                </div>
                <div ng-if="!fields[fieldKey].format && fields[fieldKey].type && fields[fieldKey].type!='array'">
                    <label>Expected type :</label>
                    <span field-type="fields[fieldKey].type"> </span>
                </div>

            </td>
        </tr>
    </tbody>
</table>