<table>

    <tbody>

        <tr class="first_line">
            <th class="firstCol">Field Name</th>
            <th>Field Properties</th>
        </tr>
        <tr ng-repeat="(fieldKey, fieldValue) in fields">
            <td class="firstCol">
                {{fieldKey}}
            </td>
            <td>
                <i> <b>{{fields[fieldKey].description}}</b></i>

                <div ng-if="fields[fieldKey].anyOf">
                    Expected types:
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].anyOf">
                            <span field-type="item.type"> </span>
                        </li>
                    </ul>
                </div>

                <div ng-if="fields[fieldKey].format">
                    Expected type :
                    <span field-type="fields[fieldKey].format"> </span>
                </div>

                <div ng-if="!fields[fieldKey].format && fields[fieldKey].type && fields[fieldKey].type!='array'">
                    Expected type :
                    <span field-type="fields[fieldKey].type"> </span>
                </div>

                <div ng-if="fields[fieldKey].enum">
                    Expected value(s) :
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].enum">
                            {{item}}
                        </li>
                    </ul>
                </div>

                <div ng-if="fields[fieldKey]['$ref'] || fields[fieldKey].items['$ref']">
                    Expected type: <span field-type="'object'"> </span> {{type}}
                    <a ng-href="#{{fieldKey}}" target="_self">(click here to see sub-specification)</a>
                </div>

            </td>
        </tr>
    </tbody>
</table>