<table>

    <tbody>

        <tr class="first_line">
            <th class="firstCol">Field Name</th>
            <th>Field Properties</th>
        </tr>
        <tr ng-repeat="(fieldKey, fieldValue) in fields">

            <!-- field title -->
            <td class="firstCol">
                <div class="fieldTitle">{{fieldKey}}</div>
            </td>

            <td>

                <!-- field description -->
                <i> <b>{{fields[fieldKey].description}}</b></i>

                <!-- field cardinality -->
                <div ng-if="fieldKey!='@context' && fieldKey!='@id' && fieldKey!='@type'">
                    Cardinality:
                    (<span ng-if="required.indexOf(fieldKey) != -1"> 0 </span> <span ng-if="required.indexOf(fieldKey) == -1"> 1 </span>
                    ...
                    <span ng-if="fields[fieldKey].type != 'array'"> 1 </span>
                    <span ng-if="fields[fieldKey].type == 'array'"> n </span>)
                </div>

                <!-- field types for structure field['items']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('items')">

                    <!-- structure field['items']['$ref'] -->
                    <div ng-if="fields[fieldKey]['items'].hasOwnProperty('$ref')">
                        Expected type:
                        <ul>
                            <li>
                                <a ng-href="#{{fields[fieldKey]['items']['$ref']|removeExtraStr}}" target="_self">
                                    {{fields[fieldKey]['items']['$ref']|removeExtraStr}}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- structure field['items']['oneOf'] -->
                    <div ng-if="fields[fieldKey]['items'].hasOwnProperty('oneOf')">
                        Expected type (only one from above):
                        <ul>
                            <li ng-repeat="item in fields[fieldKey]['items']['oneOf']">
                                <span ng-if="item.hasOwnProperty('type')">
                                    <span field-type="item.type"> </span>
                                </span>
                                <span ng-if="item.hasOwnProperty('$ref')">
                                    <a ng-href="#{{item['$ref']|removeExtraStr}}" target="_self">
                                        {{item['$ref']|removeExtraStr}}
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <!-- structure field['items']['anyOf'] -->
                    <div ng-if="fields[fieldKey]['items'].hasOwnProperty('anyOf')">
                        Expected type (any number from above):
                        <ul>
                            <li ng-repeat="item in fields[fieldKey]['items']['anyOf']">
                                <span ng-if="item.hasOwnProperty('type')">
                                    <span field-type="item.type"> </span>
                                </span>
                                <span ng-if="item.hasOwnProperty('$ref')">
                                    <a ng-href="#{{item['$ref']|removeExtraStr}}" target="_self">
                                        {{item['$ref']|removeExtraStr}}
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- field types for structure field['$ref']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('$ref')">
                    Expected type: <span field-type="'object'"> </span> {{type}}
                    <ul>
                        <li>
                            <a ng-href="#{{fields[fieldKey]['$ref'] | removeExtraStr}}" target="_self">
                                {{fields[fieldKey]['$ref'] | removeExtraStr}}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- field types for structure field['anyOf']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('anyOf')">
                    Expected types (any number from below):
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].anyOf">
                            <span field-type="item.type" ng-if="!fields[fieldKey].anyOf[item].hasOwnProperty('$ref')"> </span>
                            <a ng-href="#{{item['$ref']|removeExtraStr}}" target="_self" ng-if="item.hasOwnProperty('$ref')">
                                {{item['$ref']|removeExtraStr}}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- field types for structure field['oneOf']-->
                <div ng-if="fields[fieldKey].hasOwnProperty('oneOf')">
                    Expected types:
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].oneOf">
                            <span field-type="item.type"> </span>
                        </li>
                    </ul>
                </div>

                <!-- field pre-determined values-->
                <div ng-if="fields[fieldKey].enum">
                    Expected value(s) :
                    <ul>
                        <li ng-repeat="item in fields[fieldKey].enum">
                            {{item}}
                        </li>
                    </ul>
                </div>

                <!-- TO FIX-->
                <div ng-if="fields[fieldKey].format">
                    Expected type :
                    <span field-type="fields[fieldKey].format"> </span>
                </div>
                <div ng-if="!fields[fieldKey].format && fields[fieldKey].type && fields[fieldKey].type!='array'">
                    Expected type :
                    <span field-type="fields[fieldKey].type"> </span>
                </div>

            </td>
        </tr>
    </tbody>
</table>