<div class="card miniCard subCard text-muted">
    <div class="card-header"> # </div>

    <div class="card-body">
        <div ng-repeat="(key, val) in link">
            <h6 class="card-subtitle mb-2 text-muted" >
                <label class="descriptionLabel">{{key}}:</label>
                <span ng-if="(val | typeOf) === 'string'">{{val}}</span>

                <div ng-if="(val | typeOf) === 'object'">
                    <div style='padding-left:10px;' ng-repeat="(subItem, subValue) in val">
                        <label class="descriptionLabel">{{subItem}}</label>
                            <span ng-if="(subValue | typeOf) == 'string' || (subValue | typeOf) == 'object'">{{subValue}}</span>
                            <div ng-if="(subValue | typeOf) == 'array'">
                                <ul>
                                    <li ng-repeat="item in subValue">{{item}}</li>
                                </ul>
                            </div>
                    </div>
                </div>

                <div ng-if="(val | typeOf) === 'array'">
                    <ul>
                        <li ng-repeat="subVal in val"> {{subVal}}</li>
                    </ul>
                </div>

            </h6>

        </div>
    </div>
</div>