<div class="main_container" id="{{parent | removeExtraStr}}">
    <h1 class="container">
        <div class="row">
            <div class="col-10 titleText">{{json_source.title}} </div>


            <div class="col-2" ng-if="parent != ''">
                <span class="fas fa-file-alt" ng-click="ctrl.displayItem('json_'+parent, ctrl.loaded_specs[parent])"></span>
            </div>
            <div class="jsonDump" ng-show="ctrl.displayedSpec[0] === 'json_'+parent && parent != ''" id="json_{{parent}}">
                <pre>{{ctrl.displayedSpec[1]| json:4}}</pre>
            </div>

            <div class="col-2" ng-if="parent === ''">
                <span class="fas fa-file-alt" ng-click="ctrl.displayItem('mainItem', ctrl.main_spec)"></span>
            </div>
            <div class="jsonDump" ng-show="ctrl.displayedSpec[0] === 'mainItem' && parent === ''" id="mainItem">
                <pre>{{ctrl.displayedSpec[1]| json:4}}</pre>
            </div>



        </div>
    </h1>

    <div class="metadata">
        <h2> Schema Metadata </h2>
        <ul>
            <li ng-if="json_source['$schema']">
                <b>$schema : </b> {{json_source['$schema']}}
            </li>

            <li ng-repeat="(key, item) in json_source"
                ng-if="key != 'properties' && key != 'referencedFrom'">
                <div ng-if="key != 'id' "><b>{{key}} : </b>{{item}}</div>
                <div ng-if="key === 'id' ">
                    <b>{{key}} : </b>
                    <a class="link" ng-href="{{item}}" target="_blank">{{item}}</a>
                </div>
            </li>

            <li ng-if="parent != ''">
                <b>Referenced from: </b>

                <ul ng-if="ctrl.display==='table'">
                    <li ng-repeat="(childKey, childVal) in json_source.referencedFrom">
                        {{childKey}} : <span ng-repeat="item in childVal">{{item}} <span ng-if="!$last">, </span></span>
                    </li>
                </ul>

                <div class="container" ng-if="ctrl.display==='grid'">
                    <div class="row">
                        <div class=" miniCard col-lg-2 col-sm-6 col-md-6" ng-repeat="(childKey, childVal) in json_source.referencedFrom">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <label class="descriptionLabel">{{childKey}}: </label>
                                    </h6>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <!--<label class="descriptionLabel">Referencing fields: </label>-->
                                        <span ng-repeat="item in childVal">
                                            {{item}}<span ng-if="!$last">, </span>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>




    <div class="main_container">
        <h2> Schema Fields </h2>
        <div schema-fields="json_source.properties"
             parent-key="parent"
             display-type="ctrl.display">
        </div>

    </div>

</div>