<div class="main_container" id="{{schemaName | removeExtraStr}}">

    <!-- Header containing the JSON variable to display -->
    <h1 class="container">
        <div class="row">
            <div class="col-10 titleText">{{json_source.title}} </div>


            <div class="col-2" ng-if="schemaName !== ''">
                <span class="fas fa-file-alt" ng-click="ctrl.displayItem(schemaName)"></span>
            </div>
            <div class="jsonDump" ng-show="ctrl.displayedSpec[0] === schemaName && schemaName != ''" id="json_{{schemaName}}">
                <div class="jsonHeader">
                    <i class="fas fa-times" ng-click="ctrl.displayItem(schemaName)"> </i>
                    <i class="fas fa-clipboard" ng-click-copy="{{ctrl.displayedSpec[1]}}"></i>
                </div>
                <div class="jsonContainer">
                    <pre>{{ctrl.displayedSpec[1]| json:4}}</pre>
                </div>
            </div>
        </div>
    </h1>

    <!-- Contains the JSON schema metadata -->
    <div class="metadata">
        <h2> Schema Metadata </h2>
        <ul>
            <li ng-if="json_source['$schema']">
                <b>Schema version ($schema) : </b> {{json_source['$schema']}}
            </li>

            <li ng-if="json_source.hasOwnProperty('$subset')">
                <b style="color:red"> Note: </b>
                This schema is a subset of <span ng-repeat="(refKey, refVal) in json_source['referencedFrom']">{{refKey}}<i ng-if="!$last">, </i></span>
            </li>

            <li ng-repeat="(key, item) in json_source"
                ng-if="key != 'properties' && key != 'referencedFrom' && !json_source.hasOwnProperty('$subset')">

                <!-- key is not 'id' and is not 'required' -->
                <div ng-if="key != 'id' && key != 'required' ">
                    <b>{{key}}: </b>

                    <!-- value is a string -->
                    <span ng-if="(item | typeOf) === 'string' || (item | typeOf) === 'number'">{{item}}</span>

                    <!-- value is an object -->
                    <div ng-if="(item | typeOf) === 'object'">
                        <div class="container" style="margin-bottom: 15px;">
                            <div class="row">

                                <div class="col-4" ng-repeat="(objectName, objectVal) in item">
                                    <ul>
                                        <li ng-if="(objectVal | typeOf) === 'string'">
                                            <label class="descriptionLabel">{{objectName}}</label> {{objectVal}}
                                        </li>
                                    </ul>

                                    <div class="card definitionCard"
                                         id="{{schemaName + '_definitions_' + objectName}}"
                                         ng-if="(objectVal | typeOf) === 'object'">
                                        <div class="card-header">
                                            {{objectName}}
                                        </div>

                                        <div class="card-body">


                                            <div class="" ng-repeat="(defKey, defVal) in objectVal">
                                                <span ng-if="((defVal | typeOf) === 'string' || (defVal | typeOf) === 'number') && defKey != 'referenceTo'">
                                                    <b>{{defKey}}:</b> {{defVal}}
                                                </span>
                                            </div>

                                            <div ng-if="objectVal.hasOwnProperty('referenceTo')">
                                                <label>Expected types: </label>
                                                <div button-link="objectVal['referenceTo']"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- value is false -->
                    <span ng-if="item === false">
                        false
                    </span>
                </div>

                <!-- key is 'id' -->
                <div ng-if="key === 'id'">
                    <b>{{key}} : </b>
                    <a class="link" ng-href="{{item}}" target="_blank">{{item}}</a>
                </div>

                <!-- key is 'required' -->
                <div ng-if="key === 'required' ">
                    <b>{{key}} : </b>
                    <span ng-repeat="field in item"> {{field}} <i ng-if="!$last">,</i> </span>
                </div>


            </li>

            <!-- referenced from -->
            <li ng-if="json_source.hasOwnProperty('referencedFrom')">
                <b>Referenced from: </b>
                <div class="container">
                    <div class="row">
                        <div class="referencedFrom miniCard col-lg-2 col-sm-6 col-md-6" ng-repeat="(childKey, childVal) in json_source.referencedFrom">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <label class="descriptionLabel">{{childKey}}: </label>
                                    </h6>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        <span ng-repeat="item in childVal">
                                            {{item}}<span ng-if="!$last">, </span>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>


    <div class="main_container schemaProperties">
        <h2> Schema Fields </h2>
        <div schema-fields="json_source"
             parent-key="schemaName"
             inner-link="json_source.id"
             context-values="ctrl['contexts']"
             function-controller="ctrl">
        </div>
    </div>

</div>